<label class="nx-field" [class.invalid]="error" [class.disabled]="disabled">
  @if (label) {
    <span>{{ label }}</span>
  }
  <div class="box">
    @if (icon) {
      <i class="material-symbols-rounded">{{ icon }}</i>
    }
    <input
      [type]="type"
      [placeholder]="placeholder"
      [value]="value"
      [disabled]="disabled"
      [attr.aria-invalid]="!!error"
      (input)="update($any($event.target).value)"
    />
    @if (value && clearable) {
      <button
        type="button"
        aria-label="Clear field"
        (click)="update('')"
      >
        <span class="material-symbols-rounded">close</span>
      </button>
    }
  </div>
  @if (error) {
    <small class="error">{{ error }}</small>
  } @else if (hint) {
    <small>{{ hint }}</small>
  }
</label>
