<div class="nx-input-wrap" [class.nx-input-wrap--error]="error" [class.nx-input-wrap--disabled]="disabled()">
  @if (label) {
    <label class="nx-input-label">
      {{ label }}
      @if (required) { <span class="nx-input-required">*</span> }
    </label>
  }
  <div class="nx-input-field" [class.nx-input-field--prefix]="prefixIcon" [class.nx-input-field--suffix]="suffixIcon || type === 'password'">
    @if (prefixIcon) {
      <span class="nx-input-icon nx-input-icon--prefix material-icons-outlined">{{ prefixIcon }}</span>
    }
    <input
      [type]="inputType"
      [placeholder]="placeholder"
      [value]="value()"
      [disabled]="disabled()"
      class="nx-input"
      (input)="onInput($event)"
      (blur)="onBlur()"
    />
    @if (type === 'password') {
      <button type="button" class="nx-input-icon nx-input-icon--suffix nx-input-eye" (click)="showPassword.set(!showPassword())" tabindex="-1">
        <span class="material-icons-outlined">{{ showPassword() ? 'visibility_off' : 'visibility' }}</span>
      </button>
    } @else if (suffixIcon) {
      <span class="nx-input-icon nx-input-icon--suffix material-icons-outlined">{{ suffixIcon }}</span>
    }
  </div>
  @if (error) {
    <p class="nx-input-error">{{ error }}</p>
  } @else if (hint) {
    <p class="nx-input-hint">{{ hint }}</p>
  }
</div>
